.container {
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}
.titleBlock {
  background-color: #32353f;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #ff4500;
}
.cardWrapper {
  background-color: #32353f;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poster {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
.infoItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #bbbbbb;
  margin-bottom: 5px;
}
.dashedLine {
  width: 100%;
  border-bottom: 1px dashed #bbbbbb;
  margin-bottom: 10px;
}
.text {
  color: #eeeeee;
  margin: 0;
}

.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-left: 20px;
}
.item {
  font-size: 0.9rem;
  color: #eeeeee;
  background-color: #464545;
  padding: 5px 10px;
  border-radius: 4px;
}
.infoLinks {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  background-color: #32353f;
}
.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #7af1f7;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  background-color: #f0f0f0;
  color: orangered;
}
.active {
  color: orangered;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .title {
    font-size: 2rem;
  }
  .cardWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  /* .infoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  } */
  .subtitle {
    margin-right: 10px;
    min-width: 120px;
  }
  .dashedLine {
    flex-shrink: 0;
    width: 50px;
    margin: 0 10px;
    align-self: center;
  }
  .poster {
    margin-left: 20px;
  }
  .text {
    flex-grow: 1;
  }
  .infoWrapper {
    width: 60%;
  }
  .infoLinks {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .title {
    font-size: 2.5rem;
  }
  .infoItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .subtitle {
    margin-right: 15px;
  }
  /* .infoLinks {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  } */
}
