.movieList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px 30px;
}
.movieItem {
  padding: 10px;
  background-color: #32353f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.movieItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}
.movieTitle {
  font-size: 18px;
  font-weight: 500;
  color: #eeeeee;
  margin: 10px 0;
  text-align: center;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .movieList {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .movieList {
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
  }
}
